.pro{
    width: 28%;
    height: 30vh;
    margin: 30px 10px;
    border: 2px solid lightgray;
    border-radius: 10px;
    overflow: hidden;
}

.pro-browser{
    height: 20px;
    display: flex;
    align-items: center;
    background-color: lightgray;
}
.pro-circle{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin: 3px;
    background-color: white;
}

@media screen and (max-width:480px) {
    .pro{
        width: 40%;
        height: 16vh;
     
    }

}