.prolist{
    /* width: 70%; */
    height: 100vh;
    padding: 40px 30px;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    /* background-color: green; */
}
.prolist-text{
    width: 70%;
    font-weight: 500;
}
.prolist-title{
    font-size: 50px;
    font-weight: 500;
}
.prolist-decs{
    margin: 30px 0px;
    font-size: 19px;
}
.prolist-list{
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
}

.pro-img{
    /* height: 100%; */
    width: 100%;
}

@media screen and (max-width:480px) {
    .prolist{
        padding: 10px;
        flex-direction: column;
        margin-top: 150px;
        text-align: center;
        height: 80%;
        
    }
    .prolist-decs{
        margin: 15px 0px;
    }
    .prolist-title{
        font-weight: 500;
        font-size: 35px;
    }
    .prolist-text{
        width: 100%;
    }
}