.cont{
    height: 115%;
    position: relative;
}
.cont-bg{
    width: 30px;
    height: 100%;
    background-color: #0092CBff;
    position: absolute;
}

.cont-wrapper{
    display: flex;
    padding:50px;
}
.cont-left{
    flex: 1;

}

.cont-right{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
   
}

.cont-title{
    font-size: 80px;
    width: 90%;
}

.cont-info-item{
    display: flex;
    align-items: center;
    /* trbl */
    margin: 50px 0px;
    font-weight: 400;
    width: 70%;
}
.cont-icon{
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.cont-desc{
    font-size: 25px;
    font-weight: 300;
    margin: 20px 0px;
}

form{
    margin: 5px;
    text-align: left;
}
input{
    width: 60%;
    height: 50px;
    border: none;
    border-bottom: 1px solid black;
    margin: 20px 0px;
    font-size: 16px;
    background-color: white;
}
textarea{
    width: 100%;
    font-size: 16px;
    margin: 20px 0px;
}

/* footer */
footer {
    background-color: black;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5px 0px;
    text-align: center;
    z-index: 999;
}

a{
    /* color: black; */
    font-style: normal;
}
/* 
.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa); */


@media screen and (max-width:480px) {
    .cont-wrapper {
        flex-direction: column;
        margin: 10px;
        padding: 5px 50px 0px; 
    }
    .cont-right{
        padding: 10px 0px;
    }
    .cont-desc{
       font-size: 20px;
    }
    .cont-title{
        font-size: 30px;
    }
    .cont-info-item{
        margin: 20px 0px;
        width: 100%;
    }
    .cont-icon{
        width: 25px;
        height: 25px;
    }

    input{
        width: 100%;
        height: 30px;
        margin: 6px 0px ;
    }
    textarea{
        margin: 6px 0px;
    }
     
    /* button{
        padding: 5px 10px 5px 10px;
       margin: 15px 0px;
       align-items: center;
       justify-content: center;
       font-size: 18px;
    } */
    form{
        display: flex;
        flex-wrap: wrap
    }
    footer{
       /* background-color: black; */
       width: 100%;
       height: 2%;
       color: #fff;
       font-size: 9px;
       bottom: 0;
       left: 0;
       right: 0;
       padding: 5px 0px;
       margin-top: 0px 0px;
       text-align: center;
       z-index: 999;
   }
    .cont-bg{
        width: 20px;
        height: 100%;
        background-color: #0092CBff;
        position: absolute;   
     }
}